body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color:white;
	
}

h6,
h5,
h4,
h3,
h2,
h1  {
     font-family: 'Rubic Mono one',
	 sans-serif;
	 font-weight:700;
}

.navbar-brand img {width:150px}

#footer {background-color:lightgreen;color:#fff}

#lowerfooter {background-color:yellow;}

#lowerfooter i {font-size:50px;color:#fff;margin:16px 7px 16px 7px}

.pBox button{z-index:2;position:absolute;right:25%;padding:13px;margin-top}

.mBBox i{background-color:black:}